*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  height: 95vh;
  font-size: 1.4vh;
  background-color: #212529!important;
} 

:root {
  color-scheme: dark;
}

.gold {
  color: #FFD700;
}

.green {
  color: #16F529;
}

.red {
  color: #FD1C03;
}

.grey {
  color: #DFE3E3;
}

.b-color {
  background: #2ECC71!important;
  border: none!important;
  font-weight: 600!important;
}

Table, .border {
  color: #DFE3E3!important;
}

Button {
  color: white!important;
}

.table-responsive {
  height: 70vh!important;
  max-height: 70vh!important;
  overflow-y: scroll!important;
  border: none!important;
}

.table-responsive thead {
  position: sticky!important;
  top: -1px!important;
  z-index: 1!important;
  background-color: #212529!important;
  box-shadow:  inset 0 -1px 0 #DFE3E3;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  text-align: center!important;
  text-transform: uppercase;
}